body{
    background-color: #756038;
    margin: 0%;
}

.cabecalho{
    margin: 0;
    width: 100%;
    height:250px ;
}

.nome{
    margin-top: -12%;
    justify-content: center;
    color: white;
   padding: 2px 660px;
   font-family: monospace;
}